
#widget {
  width: 100%;
  height: auto;
  min-width: 275px;
  padding: 10px;
}

.w-header {
  border-bottom: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.w-box {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  /* justify-content: center; */
  justify-content: space-around;
}

.rec {
  width: 15rem;
  min-width: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.rec:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rec a{
  color: inherit;
  text-decoration: none;
  padding: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rec-thumb {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

/* .rec-thumb img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
} */


.rec-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.rec-title p {
  padding: 5px;
  margin: 0;
}

.rec-footer {
  bottom: 0;
}

.rec-footer div {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
  margin: 0;
}

.rec-footer p {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  padding: 5px;
  text-align: end;
  font-size: 15px;
  margin: 0;
}
